# Server
PORT=

# Database (MySQL)
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=

# TMDB
TMDB_ACCESS_TOKEN=

# Nodemailer
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=
